EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDbC8uwHgIoVUPCXPnso7kvRy3d585g9ys 
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=afrizon-60b46.firebaseapp.com 
EXPO_PUBLIC_FIREBASE_PROJECT_ID=afrizon-60b46 
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=afrizon-60b46.firebasestorage.app 
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=230701056851 
EXPO_PUBLIC_FIREBASE_APP_ID=1:230701056851:web:4eff096700778c1e7517a6 
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-BN5JC230SH
SHOW_WINGA_OPTION=true